body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .booking-form {
    max-width: 600px;
    margin: 70px auto;
    border: 1px solid hsla(0, 0%, 65%, 0.158);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background-color: #ffffff46;
    padding: 20px;
    border-radius: 10px;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
  }

  .tab.active {
    background-color: #3d5cb8;
    color: #fff;
  }

  .form-section {
    display: none;
  }

  .form-section.active {
    display: block;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .submit-btn {
    background-color: #3d5cb8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: #2c4b7d;
  }